/*Upload custom 'nidsans' font*/
@font-face {
    font-family: 'CustomFont';
    src: url('nidsans-webfont.ttf');
  }

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #e9e9e9;
}

a {
    text-decoration: none;
    color: #e9e9e9;
}

ul {
    list-style: none;
}

/* Header Navigation: [ABOUT ME], [MY SKILLSET], [GET IN TOUCH] Jumps */
header {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.05em;
    background-color: #000000;
    color: #e9e9e9;
    padding: 5px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

/* About Section */
#about {
    position: relative;
    padding: 0px 100px;
    background-image: url('Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #333;
    color: white;
    margin: 0 auto;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

/* Wrapper for the About text with rounded corners and background */
.about-text {
    background-color: #333;
    border-radius: 36px;
    padding: 30px;
    max-width: 800px;
    margin-top: 50px;
    z-index: 2;
}

/*About Me Header*/
#about h1 {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.05em;
    font-size: 4em;
    margin-bottom: 20px;
}

/*About Me Paragraph*/
#about p {
    font-size: 1.2em;
    margin: 20px 0;
    text-align: center;
}

/* Skills Section */
#skillset {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
    background-color: #333;
    text-align: center;
    min-height: 100vh;
}

/*1st section text: Coding Languages*/
.skill1 {
    background-color: #333;
    border-radius: 36px;
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

/*2nd section text: 3D Modelling*/
.skill2 {
    background-color: #333;
    border-radius: 36px;
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

/*3rd section text: Graphic/UI Design*/
.skill3 {
    background-color: #333;
    border-radius: 36px;
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

/*Main Header: 'My Skillset'*/
#skillset h1 {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.05em;
    font-size: 6em;
    margin-bottom: 50px;
    text-align: center;
}

/* Sub headers: 'Coding Languages', '3D Modelling*/
#skillset h2 {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.05em;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

/* Projects Section */
#completedprojects {
    position: relative;
    padding: 20px;
    background-image: url('PurpleWallpaperBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #333;
    color: white;
    margin: 0 auto;
    line-height: 1.6;
    min-height: 100vh; /* Changed from height to min-height */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px; /* Added spacing below */
}

/* Project Section Text Styling */
.project1, .project2, .project3 {
    padding: 25px;
    background-color: #333;
    border-radius: 36px;
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 75px;
    text-align: center;
    width: 100%;
}

/* Main Header: 'Completed Projects' */
#completedprojects h1 {
    background-color: #333;
    border-radius: 36px;
    padding: 5px 10px;
    max-width: 1200px;
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.05em;
    font-size: 6em;
    margin-bottom: 50px;
    text-align: center;
}

/* Subheaders for Projects */
#completedprojects h2 {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.03em;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

#completedprojects img {
    aspect-ratio: 16 / 9;
    max-width: 98%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
    border-radius: 36px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#completedprojects a {
    margin-top: auto;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #0084ff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* Contact Section */
#contact {
    margin-top: 50px; /* Ensure proper spacing above */
    padding: 50px 20px;
    background-color: #333;
    text-align: center;
}

/* Email Link Styling in Contact */
#contact a {
    text-align: center;
    color: #0084ff;
}


/*Handle styling for button to scroll back up*/
#scrollbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #e9e9e9;
    color: white;
    padding: 0;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
}

/*Fix scrollbutton image dimensions*/
#scrollbutton img {
    width: 30px;
    height: 30px;
}

/*Footer Section Styling*/
footer {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}
